@tailwind base;
@tailwind components;
@tailwind utilities;

.text-highlight {
    color: #ffa500;
}

.highlight {
    color: #ffa500;
}

@media print {

    body {
        background-color: white !important;
        margin: 0 !important;
    }
}